<div class="jumbotron">
<h2>Courses I'm currently taking.</h2>
  <ol>
    <li><p>Growth Hacking by Mattan Griffel</p>
        <%= image_tag("GrowthHacking.jpg") %> </li>
    <li><p>OMR Rails 4 by Mattan Griffel</p>
        <%= image_tag("OMRrails4.png") %> </li>
  </ol>
<p></p>
</div>